<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p> This is a Portfolio Project for Holberton School. The journey began with a great passion for democratizing access to financial information. As a team of financial experts, tech enthusiasts, and industry professionals, we recognized the need for a tool that would empower both seasoned investors and newcomers to navigate the complexities of the stock market.</p>
      </div>
      <div class="col-lg-4">
        <p> Our mission is to democratize access to financial data. We believe that everyone, from seasoned investors to first-time traders, deserves a user-friendly and reliable tool to navigate the complexities of the stock market!! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/ephnjor2021/streaming-dashboard" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Access the Project
        </a>
      </div>
    </div>
  </div>
</section>
